.Anim\(wave\) {
  animation: 5s ease-in-out 1s alternate infinite wave;
}
.Bdstart\(chunky\) {
  border-left: solid .375rem;
}
.Bdc\(sand\) {
  border-color: #e6daab;
}
.Bds\(s\) {
  border-style: solid;
}
.Bdw\(re\) {
  border-width: 0.1875rem;
}
.Bdrs\(re\) {
  border-radius: 0.1875rem;
}
.Bdrs\(r1\) {
  border-radius: 1.5rem;
}
.Bgi\(grddarkt\) {
  background-image: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,0) 60%);
}
.Bgc\(\#000\.25\) {
  background-color: rgba(0,0,0,.25);
}
.Bgc\(\#fff\.9\)\:h:hover {
  background-color: rgba(255,255,255,.9);
}
.Bgc\(\#fff\) {
  background-color: #fff;
}
.Bgc\(grass\) {
  background-color: #bcce46;
}
.Bgc\(grass\)\:h:hover {
  background-color: #bcce46;
}
.Bgc\(wood\) {
  background-color: #8f5250;
}
.Bgc\(dirt\) {
  background-color: #6a6271;
}
.Bgc\(water\) {
  background-color: #5cd8ff;
}
.Bgc\(leaves\) {
  background-color: #0a6;
}
.Bgc\(tree\) {
  background-color: #91cc00;
}
.Bgc\(sand\) {
  background-color: #e6daab;
}
.Bgc\(fire\) {
  background-color: #fd9700;
}
.Bgc\(fireTop\) {
  background-color: #fdd600;
}
.Bgc\(\#000\.4\) {
  background-color: rgba(0,0,0,.4);
}
.Bgc\(sky\) {
  background-color: #00abef;
}
.Bxsh\(sh1\) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.185);
}
.Bxsh\(sh4\) {
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.085), 0 20px 40px 0 rgba(0, 0, 0, 0.15);
}
.Bxsh\(ish1\) {
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.185);
}
.C\(\#fff\) {
  color: #fff;
}
.C\(\#000\.8\)\:h:hover {
  color: rgba(0,0,0,.8);
}
.C\(\#000\.8\) {
  color: rgba(0,0,0,.8);
}
.C\(dirt\) {
  color: #6a6271;
}
.C\(dirt\)\:h:hover {
  color: #6a6271;
}
.C\(\#fff\.9\) {
  color: rgba(255,255,255,.9);
}
.Cur\(d\)\! {
  cursor: default !important;
}
.D\(f\) {
  display: flex;
}
.D\(b\) {
  display: block;
}
.D\(ib\) {
  display: inline-block;
}
.D\(if\) {
  display: inline-flex;
}
.D\(n\) {
  display: none;
}
.Flxg\(1\) {
  flex-grow: 1;
}
.Flxs\(1\) {
  flex-shrink: 1;
}
.Fld\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(c\) {
  justify-content: center;
}
.Ff\(bit\) {
  font-family: "SG", "Source Code Pro", Input, Hack, Consolas, monaco, monospace;
}
.Ff\(mono\) {
  font-family: "Source Code Pro", Input, Hack, Consolas, monaco, monospace;
}
.Fw\(700\) {
  font-weight: 700;
}
.Fw\(600\) {
  font-weight: 600;
}
.Fw\(800\) {
  font-weight: 800;
}
.Fz\(msn2\) {
  font-size: 0.694rem;
}
.Fz\(ms1\) {
  font-size: 1.2rem;
}
.Fz\(ms2\) {
  font-size: 1.44rem;
}
.Fz\(ms3\) {
  font-size: 1.728rem;
}
.Fz\(ms4\) {
  font-size: 2.074rem;
}
.Fz\(ms5\) {
  font-size: 2.488rem;
}
.Fz\(ms6\) {
  font-size: 2.986rem;
}
.Fz\(msn1\) {
  font-size: 0.833rem;
}
.Fz\(\.75em\) {
  font-size: .75em;
}
.Fz\(ms0\) {
  font-size: 1rem;
}
.H\(ms2\) {
  height: 1.44rem;
}
.H\(0\) {
  height: 0;
}
.H\(100\%\) {
  height: 100%;
}
.H\(rh\) {
  height: 0.75rem;
}
.H\(48vh\) {
  height: 48vh;
}
.H\(58vh\) {
  height: 58vh;
}
.Lts\(-0\.01em\) {
  letter-spacing: -0.01em;
}
.Lts\(-0\.02em\) {
  letter-spacing: -0.02em;
}
.Lts\(-0\.003em\) {
  letter-spacing: -0.003em;
}
.List\(n\) {
  list-style-type: none;
}
.List\(s\) {
  list-style-type: square;
}
.Lh\(1\) {
  line-height: 1;
}
.Lh\(1\.5\) {
  line-height: 1.5;
}
.M\(0\) {
  margin: 0;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.Mx\(rq\), .Mstart\(rq\) {
  margin-left: 0.375rem;
}
.Mx\(rq\) {
  margin-right: 0.375rem;
}
.Mx\(0\) {
  margin-left: 0;
  margin-right: 0;
}
.My\(r1h\) {
  margin-top: 2.25rem;
}
.My\(r1h\), .Mb\(r1h\) {
  margin-bottom: 2.25rem;
}
.My\(r2\), .Mt\(r2\) {
  margin-top: 3rem;
}
.My\(r2\), .Mb\(r2\) {
  margin-bottom: 3rem;
}
.Mt\(-50\%\) {
  margin-top: -50%;
}
.Mb\(rh\) {
  margin-bottom: 0.75rem;
}
.Mb\(-8vh\) {
  margin-bottom: -8vh;
}
.Mb\(r1\) {
  margin-bottom: 1.5rem;
}
.Mstart\(-25\%\) {
  margin-left: -25%;
}
.Mah\(100\%\) {
  max-height: 100%;
}
.Maw\(100\%\) {
  max-width: 100%;
}
.Maw\(37\.5rem\) {
  max-width: 37.5rem;
}
.Maw\(15rem\) {
  max-width: 15rem;
}
.Mih\(100\%\) {
  min-height: 100%;
}
.Mih\(12rem\) {
  min-height: 12rem;
}
.Miw\(300px\) {
  min-width: 300px;
}
.T\(0\) {
  top: 0;
}
.T\(100\%\) {
  top: 100%;
}
.B\(0\) {
  bottom: 0;
}
.Start\(100\%\) {
  left: 100%;
}
.Op\(\.8\) {
  opacity: .8;
}
.Op\(1\)\:h:hover {
  opacity: 1;
}
.Op\(\.75\) {
  opacity: .75;
}
.Op\(\.6\) {
  opacity: .6;
}
.Op\(0\) {
  opacity: 0;
}
.Op\(\.7\) {
  opacity: .7;
}
.Op\(1\)\! {
  opacity: 1 !important;
}
.Ov\(h\), .Hidden {
  overflow: hidden;
}
.Ov\(v\) {
  overflow: visible;
}
.P\(re\) {
  padding: 0.1875rem;
}
.P\(r1\) {
  padding: 1.5rem;
}
.Px\(rq\) {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.Px\(r1\), .Pstart\(r1\) {
  padding-left: 1.5rem;
}
.Px\(r1\) {
  padding-right: 1.5rem;
}
.Px\(rh\) {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.Py\(r3q\) {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}
.Py\(rh\), .Pt\(rh\) {
  padding-top: 0.75rem;
}
.Py\(rh\) {
  padding-bottom: 0.75rem;
}
.Py\(rq\) {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.Pt\(100\%\) {
  padding-top: 100%;
}
.Pt\(4\%\) {
  padding-top: 4%;
}
.Pb\(r6\) {
  padding-bottom: 9rem;
}
.Pb\(r1\) {
  padding-bottom: 1.5rem;
}
.Pb\(r1h\) {
  padding-bottom: 2.25rem;
}
.Pos\(a\), .StretchedBox {
  position: absolute;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(c\) {
  text-align: center;
}
.Td\(n\) {
  text-decoration: none;
}
.Tt\(u\) {
  text-transform: uppercase;
}
.Trf\(beamTopWorld\) {
  transform: rotateY(-90deg) rotateY(-270deg);
}
.Trf\(beamTopScene\) {
  transform: translateY(-50%) rotateX(-90deg) translateY(-50%);
}
.Trf\(faceTop\) {
  transform: rotateX(180deg) translateY(50%) RotateX(-90deg);
}
.Trf\(blockRight\) {
  transform: translateX(-50%) rotateY(90deg);
}
.Trf\(faceLeft\) {
  transform: translateX(-50%) rotateY(-90deg);
}
.Trf\(blockBottom\) {
  transform: translateY(-50%) rotateX(90deg);
}
.Trf\(faceFront\) {
  transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}
.Trf\(faceRight\) {
  transform: translateX(50%) rotateY(90deg);
}
.Trf\(faceBack\) {
  transform: rotateY(90deg) translateX(50%) rotateY(90deg);
}
.Trf\(faceBottom\) {
  transform: rotateX(-180deg) translateY(-50%) rotateX(90deg);
}
.Trf\(beamTop\) {
  transform: rotateX(-20deg) rotateY(-45deg) scale3d(.7, .7, .7);
}
.Trf\(beamFront\) {
  transform: rotateX(0deg);
}
.Trf\(beamRight\) {
  transform: rotateX(0deg) rotateY(-90.001deg);
}
.Trf\(beamBack\) {
  transform: rotateX(0deg) rotateY(-180deg);
}
.Trf\(beamLeft\) {
  transform: rotateX(0deg) rotateY(-270.001deg);
}
.Trf\(beamBottom\) {
  transform: rotateX(20deg) rotateY(-45deg) scale3d(.7, .7, .7);
}
.Trfs\(p\) {
  transform-style: preserve-3d;
}
.Prs\(5000px\) {
  perspective: 5000px;
}
.Prso\(prsoa\) {
  perspective-origin: center -500px;
}
.Bfv\(h\) {
  backface-visibility: hidden;
}
.Trs\(aeol\) {
  transition: all .7s cubic-bezier(0.19, 1, 0.22, 1);
}
.Trs\(eoel\) {
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1), opacity .6s cubic-bezier(0.19, 1, 0.22, 1);
}
.Trs\(eol\) {
  transition: transform .7s cubic-bezier(0.19, 1, 0.22, 1), opacity .6s cubic-bezier(0.19, 1, 0.22, 1);
}
.Whs\(nw\) {
  white-space: nowrap;
}
.W\(100\%\) {
  width: 100%;
}
.W\(ms2\) {
  width: 1.44rem;
}
.W\(25\%\) {
  width: 25%;
}
.W\(93vw\) {
  width: 93vw;
}
.W\(400\%\) {
  width: 400%;
}
.Z\(10\) {
  z-index: 10;
}
.Z\(5\) {
  z-index: 5;
}
.Z\(1\) {
  z-index: 1;
}
.Fill\(cc\) {
  fill: currentColor;
}
.Hidden {
  position: absolute !important;
  *clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
}
.StretchedBox {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 29.375em) {
  .Bdw\(rq\)--sm {
    border-width: 0.375rem;
  }
  .Bgc\(t\)--sm {
    background-color: transparent;
  }
  .Flxg\(0\)--sm {
    flex-grow: 0;
  }
  .Fz\(msn1\)--sm {
    font-size: 0.833rem;
  }
  .Fz\(ms1\)--sm {
    font-size: 1.2rem;
  }
  .Mt\(r1\)--sm {
    margin-top: 1.5rem;
  }
  .P\(rq\)--sm {
    padding: 0.375rem;
  }
  .Px\(rq\)--sm {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }
  .Px\(rh\)--sm {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .Py\(rq\)--sm {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
}
@media screen and (min-width: 55em) {
  .D\(i\)--md {
    display: inline;
  }
  .Fz\(ms1\)--md {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 29.375em) and (max-width: 54.938em) {
  .Fz\(msn1\)--osm {
    font-size: 0.833rem;
  }
  .Fz\(ms4\)--osm {
    font-size: 2.074rem;
  }
}
@media screen and (min-width: 34.375em) and (max-width: 54.938em) {
  .Fz\(ms0\)--osmd {
    font-size: 1rem;
  }
}
@media screen and (min-width: 55em) and (max-width: 74.938em) {
  .Fz\(ms5\)--omd {
    font-size: 2.488rem;
  }
  .Fz\(ms1\)--omd {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 75em) {
  .Fz\(ms6\)--lg {
    font-size: 2.986rem;
  }
  .Fz\(ms2\)--lg {
    font-size: 1.44rem;
  }
}
@media screen and (orientation:landscape) {
  .Mx\(rh\)--land {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
