
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: #B6D800;
}

img {
  max-width: 100%;
}

hr {
  opacity: .3;
  width: 3rem;
  border-top: .375rem solid;
  border-bottom: none;
  margin: 2.25rem 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul:empty,
ol:empty {
  /* Hide empty lists */
  display: none;
}

dd {
  margin: 0;
}
