.Wds\(-0\.1em\) {
  word-spacing: -0.1em;
}

.Link {
  text-decoration: none;
  background-image: linear-gradient(to bottom, currentColor 50%, currentColor 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1.15em;
}

@media not all, only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
  .Link {
    background-size: 1px 1px;
  }
}

.Link:hover,
.Link:focus {
  opacity: .6;
  background-image: linear-gradient(to bottom, transparent 50%, transparent 50%);
  background-position: 0 1.25em;
}

.Link:active {
  opacity: 1;
}

@keyframes wave {
  0%, 100% {
    transform: translateX(-50.125%) translateY(600%) rotateX(90deg) translateY(-100%) rotateX(-90deg);
  }
  33% {
    transform: translateX(-50.125%) translateY(900%) rotateX(90deg) translateY(-100%) rotateX(-89deg);
  }
  66% {
    transform: translateX(-50.125%) translateY(400%) rotateX(88deg) translateY(-100%) rotateX(-90deg);
  }
}
